*, *::after, *::before{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: black;
	color: white;
	font-family: Arial;
	text-align: center;
	min-height: 100vh;
}

#angry_face{
	font-size: 100px;
	cursor: pointer;
	user-select: none;
}
.level{
	display: none;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.bigbtn {
    background: lightblue;
    width: max(50%, 400px);
    margin: auto;
    padding: 50px;
    font-size: 30px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.bigbtn:hover{
	opacity: 0.8;
}
.bigbtn:active{
	opacity: 0.5;
}
.header{
	font-size: 60px;
}
.desc{
	color: lightgray;
	font-size: 28px;
	margin: 0 0 50px 0;	
	display: inline-block;
}
table, tr, td, th{
	border: 5px solid transparent;
}
tr{
	border-bottom: 1px solid black;
}
#task_manager tr:first-of-type, #files tr:first-of-type, #virus_header{
	background: lightgray;
}
#task_manager_cont, #files_cont, #virus_cont{
	background: white;
	color: black;
	padding: 20px;
	text-align: left;
}
#task_manager_cont > span, #files_cont > span, #virus_cont > span{
	font-size: 18px;
	display: inline-block;
	margin-bottom: 10px;
}
#task_manager tr, #files tr, #virus_cont tr{
	cursor: pointer;
}
.btn{
	background: #3d3d3d;
	margin:  10px;
	padding: 20px;
	font-size: 18px;
	border-radius: 8px;
	color: white;
	border: 1px solid white;
	cursor: pointer;
	transition: 0.2s ease;
}
.btn:hover{
	opacity: 0.8;
}
.btn:active{
	opacity: 0.5;
}
.invert{
	filter: invert(1);
}
#lvl3 img{
	cursor: pointer;
}
html{
	background: black;
}
#files tr, #virus_cont tr{
	transition: 0.2s;
}
#files tr:hover, #virus_cont tr:hover{
	background: #d6d6d6;
}

#myProgress, #prog_8 {
  width: 100%;
  background-color: grey;
}

#myBar, #bar_8 {
  width: 1%;
  height: 30px;
  background-color: green;
}
#progress, #rate_admins{
	background: white;
	color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
}
#antivirus_pic{
	margin-right: auto;
	cursor: pointer;
}
.orange{
	color: orange;
}
#starrating{
	font-size: 28px;
	margin-top: 20px;
}
#starrating .fa{
	cursor: pointer;
}
#likedislike button{
	background: white;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 8px;
	cursor: pointer;
}
#likedislike button.selected{
	background: #3a7adf;
	color: white;
}
#lvl6_cont{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 100%;
}
#apps{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	column-gap: 20px;
	width: 100%;
}
#language{
	background: black;
	border: 1px solid white;
	padding: 10px;
	border-radius: 8px;
	color: white;
	font-size: 18px;
}
.app{
	background: white;
	color: black;
	padding: 20px;
	border-radius: 8px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}
#apps img{
	cursor: pointer;
}
#google, #search_res, #downloadram{
	width: 75%;
	margin: 20px auto;
	padding: 100px 30px;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	min-height: 406px;
	color: black;
}
#search_res{
	padding: 30px;
}

#google_search, #google_search_2{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
	min-width: 50%;
    max-width: 584px;
	transition: 0.2s;
	outline: 0;
	padding: 10px 20px;
}
#google_search_2{
	height: 30px;
	width: 35vw;
	margin: 0;
}
#google_search:hover, #google_search:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgba(32,33,36,.5);
    border-color: rgba(223,225,229,0);
}
#google button{
	background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
#search_res .head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    column-gap: 30px;
}
#search_res .magall{
	color: #1a73e8;
	margin-right: auto;
	padding-bottom: 10px;
	border-bottom: 3px #1a73e8 solid;
	width: fit-content;
	width: -moz-fit-content;
}
#search_res .divider{
	border-bottom: 1px solid lightgray;
	width: 100%;
	margin-bottom: 20px;
}
#lvl0 > *{
	display: none;
}
#lvl0 .step3 {
    position: fixed;
    right: 20px;
    top: 200px;
    transform: rotate(45deg);
}
#lvl0 .mouse{
	position: fixed;
	right: 100px;
	top: 75vh;
}
#level_num{
	position: fixed;
	background: black;
	padding: 20px;
	border: 1px solid white;
	bottom: 0px;
	right: 0px;
	width: 200px;
	z-index:2;
}
#lvl-1 .header{
	display: flex;
	align-items: center;
	column-gap: 30px;
}
.input{
	height: 50px;
	width: 50%;
	background: transparent;
	border: 2px solid gray;
	border-radius: 8px;
	padding: 10px 20px;
	outline: none;
	color: white;
	transition: 0.2s;
}
.input:focus{
	border-color: white;
}
#lvl-1 *{
	z-index: 2;
}
canvas.particles-js-canvas-el{
	width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
	z-index:1 !important;
}
#lvl-1 *:not(canvas){
	backdrop-filter: blur(10px);
}
#skip{
	position: absolute;
	bottom: 0px;
	left: 0%;
}
.center_text{
	display: inline-flex;
	align-items: center;
	column-gap: 20px;
}
#place{
	background: black;
	border: 1px solid white;
	padding: 10px;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	text-align: center;
}
#virus_cont{
	margin:30px;
}
code{
	text-align: left;
}
#lvl11 .app code {
    width: max(400px, 50vw);
}
#console{
	height: 20px;
	border: 0;
	font-size: 20px;
	font-family: monospace;
	padding: 15px;
	outline: none;
}
#console::placeholder{
	color:dodgerblue;
}
.term_msg{
	width: 100%;
	text-align: left;
	font-family: monospace;
	font-size: 20px;
	padding-left: 15px;
}
.term_msg::before{
	color: dodgerblue;
	content: "> ";
}
#terminal_log{
	width: 100%;
}
.key_row {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}
.key_el {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid lightgray;
    border-bottom-color: gray;
    box-shadow: 1px 1px 1px gray;
	transition: 0.2s;
}
.mainkey{
	flex-grow: 10;
}
div#keyboard {
    background: rgb(206 206 206);
    padding: 5px;
    border-radius: 8px;
}
#lvl14_err{
	color: red;
	font-size: 24px;
	margin: 20px;
	display: none;
}
#lvl14_virus_err{
	color: white;
}